images/*/
images/**/*.jpg
images/**/*.jpeg
images/**/*.png

FFHQ/*/
FFHQ/*.jpg
FFHQ/*.jpeg
FFHQ/*.png

progress_pics/*/
progress_pics/**/*.jpg
progress_pics/**/*.jpeg
progress_pics/**/*.png

progress_pics_CPS/*/
progress_pics_CPS/**/*.jpg
progress_pics_CPS/**/*.jpeg
progress_pics_CPS/**/*.png